.navigation{
 background-color: #333333;
 padding: 10px;
 color: white;
 border-bottom: 10px solid;
 border-image-slice: 1;
 border-width: 5px;
 border-image-source: linear-gradient(to right, #ffc0cb, #ffff00,#b3b3ff );
}

/*Playlist*/
.section{
    background: #ffc0cb;
    background: linear-gradient(to right, #b3b3ff,#ffc0cb);
    height: 86vh;
    color: rgb(0,0,0);
  
}

.section .list-group{
    text-align: left;
    width: 500px;
    margin: auto;
    
}
.more{
    background-color: #b3b3ff;
    background-color: linear-gradient(to right, #b3b3ff,#ffc0cb);
    border: 1px solid teal;
    border-radius: 24px;
}
.container {
    top: 5%;
    position: relative;
}

.modal-dialog{

    position: fixed !important;
    width: 500px;
    margin: auto;
    top: 40%;
    left: 35%;
  
}


.close{
    background-color: #b3b3ff;
  color: black;
    background-size: contain;
    border: 1px solid teal;
    border-radius: 24px;
    text-align: center;
    padding: 10px;
    width: 50px;
    border-radius: 3px;
    margin-bottom: 2px;
    height: 50px;
}

.song{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: 	 rgb(255, 255, 255);
  
    
}

.song .list-group-item{
    /*background-color: #b3b3ff;*/
    background-color: teal;
    background-color: linear-gradient(to right, #b3b3ff,#ffc0cb);
}


@media only screen and (max-width: 600px) {
    .modal-dialog {
     width: 100%;
     position: fixed;
     top: 20%;
     left: 0px;
    }
.section{

    height: 100%;
}

.container{
    top: 0px;
    position: relative;
}

  }