.navigation{
    background-color: #333333;
    padding: 10px;
    color:#ffffff ;
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #ffc0cb, #ffff00,#b3b3ff );
}
/*Playlist*/
.section{
    background: #ffc0cb;
    background: linear-gradient(to right, #b3b3ff,#ffc0cb);
    height: 102vh;
    color: #000000;
}
.section .list-group{
    text-align: left;
    width: 500px;
    margin: auto;   
}

/*button-Song.js*/
.more{
    background-color: #b3b3ff;
    background-color: linear-gradient(to right, #b3b3ff,#ffc0cb);
    border: 1px solid teal;
    border-radius: 24px;
    width: 50px !important;
    margin-left: 10px;
}
.container {
    top: 5%;
    position: relative;
}
 /*modal*/
.modal-dialog{
    position: fixed !important;
    width: 500px;
    margin: auto;
    top: 40%;
    left: 35%; 
}
.close{
    background-color: #b3b3ff;
    color: #000000;
    background-size: contain;
    border: 1px solid #008080;
    border-radius: 24px;
    text-align: center;
    padding: 10px;
    width: 50px;
    border-radius: 3px;
    margin-bottom: 2px;
    height: 50px;
}
.song{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#ffffff;
    font-size: 18px;
    margin-bottom: 2px;   
}
.song .list-group-item{
    background-color: #008080;
    background-color: linear-gradient(to right, #b3b3ff,#ffc0cb);
}

/*select*/
.col-form-label{
    color :  #008080 !important;
    font-weight: bold;
}
.form-control{
    background-color: #008080 !important;
    color : #ffffff !important; 
}

@media only screen and (max-width: 800px) {
    .modal-dialog {
     width: 100%;
     position: fixed;
     top: 20%;
     left: 0px;
    }
.section{
    height: 100%; 
}
.more{
    height: 50px !important;
    margin: 2px;
}
.container{
    top: 0px;
    position: relative;
}}